/* フッター */
footer {
    background: {
        color: $MainColor;
    }
    /* コピーライト */
    .copy {
      text-align: center;
      font-size: 10px;
      padding: 10px 0;
      color: #ffffff;
    }
}
