/* ヘッダー */
header {
    background-color: $MainColor;
    padding: {
        top: 10px;
        bottom: 10px;
        left: 3%;
    }
    h2 {
        padding: 10px 0;
        a {
            color: white;
            .header-logo {
                height: 20px;
            }
        }
    }
}
