/* ヘッダー */
header {
    padding: {
        top: 10px;
        bottom: 10px;
        left: 10%;
        right: 10%;
    }
    position: relative;
    background-color: $MainColor;
    h2 {
        padding: 10px 0;
        a {
            color: white;
            .header-logo {
                height: 20px;
            }
        }
    }
    .show-nav {
        font-weight: bold;
        position: absolute;;
        top: 20px;
        right: 10%;
        i {
            color: white;
            font-size: 24px;
        }
        &:hover {
            cursor: pointer;
            color: $LinkHoverColor;
        }
    }
    .nav-menu{
        display: none;
        ul {
            li {
                text-align: right;
                margin-top: 10px;
                a {
                    color: #fff;
                    &:hover {
                        color: $LinkHoverColor;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .nav-open {
        display: block;
    }
    .nav-close {
        display: none;
    }
}


@media (max-width: $sp) {
    header {
        padding: {
            top: 6px;
            bottom: 6px;
            left: 5%;
            right: 5%;
        }
        h2 {
            a {
                .header-logo {
                    height: 14px;
                    vertical-align: middle;
                }
            }
        }
        .show-nav {
            top: 18px;
            right: 5%;
            i {
                font-size: 24px;
            }
        }
        .nav-menu{
            display: none;
            ul {
                li {
                    text-align: right;
                    margin-top: 8px;
                    a {
                    }
                }
            }
        }
    .nav-open {
        display: block;
    }
    .nav-close {
        display: none;
    }
    }
}
