@charset "UTF-8";

/* ---------- 変数 ---------- */
$MainColor: #000000; //メインカラー
$SubColor: #E74C3C; //サブカラー

$HoverColor: #E74C3C; //ホバー時の色の変化
$HoverTextColor: #E74C3C; //テキストホバー時の色の変化

$TextLinkColor: #2980B9; //リンクテキストの色

$MidashiColor: #333333; //見出しの色
$Text-Color: #333333; //文字のメインカラー

/* 全体 */
$Inner_Width: 80%; //内側の横幅

/* メインコンテンツ */
$BorderColor: #666666; //ボーダーの色
$BorderRadius: 4px;

/* サイドバー */
$Facebook: #3C5A98; //facebookの色
$Twitter: #55ACEE; //twitterの色
$Github: #333333; //githubの色
$Instagram: #bd339f; //instagramの色
$Line: #00C300;

/* メディアクエリ */
$SpWidth: 480px; //SP表示
$TabWidth: 768px; //タブレット表示



$LinkColor: #999999;
$LinkHoverColor: orange;

$sp: 768px;
