/* 変数 */
$MainColor: #3E606F; //メインカラー
$SubColor: #3E606F; //サブカラー
$HoverColor: #3E606F; //ホバー時の色の変化
$HoverTextColor: #91AA9D; //テキストホバー時の色の変化
$BodyColor: #f0f0f0; //body背景
$MidashiColor: #3E606F; //見出しの色
$Text-Color: #333333; //文字のメインカラー
/* 全体 */
$Inner_Width: 90%; //内側の横幅
/* ヘッダー */
$Header_Height: 80px; //高さ
$Header_Image_Name: url(../images/test.jpg); //ヘッダー画像
/* メインコンテンツ */
$BorderColor: #aaaaaa; //ボーダーの色
$BorderRadius: 4px;
/* サイドバー */
$Facebook: #3C5A98; //facebookの色
$Twitter: #55ACEE; //twitterの色
$Github: #333333; //githubの色
/* メディアクエリ */
$SpWidth: 480px; //SP表示
$TabWidth: 768px; //タブレット表示


/* ---------- リセット ---------- */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    color: $Text-Color;
    font: {
        size: 16px;
        weight: normal;
        family: sans-serif;
    }
    text-decoration: none;
    box-sizing: border-box;
    line-height: 1.6;
    letter-spacing: 0.08em;
}
img {
    vertical-align: bottom;
}
body {
    background-color: $BodyColor;
}
strong {
    font-weight: bold;
}

/* ---------- PC表示 ---------- */
/* ヘッダー */
header {
    position: relative;
    height: $Header_Height;
    width: 100%;
    background: {
        size: cover;
        repeat: no-repeat;
        position: center;
    }
    &::after {
        background: {
            color: $MainColor;
        }
        content: '';
        display: block;
        width: 100%;
        height: $Header_Height;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }
    h1 {
        position: absolute;
        top: calc(50% - 19px);
        left: calc(50% - #{$Inner_Width} / 2);
        z-index: 1;
        margin: 0 auto;
        width: $Inner_Width;
        a {
            color: #ffffff;
            font: {
                size: 24px;
                weight: bold;
            }

        }
    }
}
/* メインコンテンツ */
.index-main {
    width: $Inner_Width;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    /* 左側 */
    .index-left {
        width: 66%;
        /* 記事 */
        .index-article-wrap {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .index-article {
                width: 48.5%;
                border: 1px solid $BorderColor;
                margin-top: 30px;
                background: {
                    color: $HoverColor;
                    repeat: no-repeat;
                    position: center;
                    size: 20% auto;
                }
                &:nth-of-type(1),
                &:nth-of-type(2) {
                    margin-top: 0;
                }
                a {
                    display: block;
                    background-color: #ffffff;
                    &:hover {
                        opacity: 0.2;
                        transition: 0.3s;
                    }
                    .index-article-img {
                        width: 100%;
                        height: auto;
                        img {
                            width: auto;
                            height: auto;
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
                    .index-article-title {
                        padding: 10px 20px 0;
                        color: $MidashiColor;
                        font: {
                            size: 20px;
                            // weight: bold;
                        }
                    }
                    .index-article-content {
                        p {
                            padding: 10px 20px 0;
                            min-height: 9em;
                        }
                    }
                    .index-article-category {
                        text-align: right;
                        padding: 20px 20px 0;
                        font: {
                            size: 12px;
                        }
                    }
                    .index-article-date {
                        text-align: right;
                        padding: 10px 20px 20px;
                        font: {
                            size: 12px;
                        }
                    }
                }
            }
        }
        /* ページネーション */
        .page-nav-wrap {
            margin-top: 30px;
            border-top: 1px solid $BorderColor;
            display: flex;
            .page-numbers {
                // background-color: red;
                padding: 5px 10px;
                &:first-child {
                    padding-left: 0;
                }
                &:hover {
                    text-decoration: underline;
                    color: $HoverTextColor;
                }
            }
            .page-numbers.current {
                &:hover {
                    text-decoration: none;
                    color: $Text-Color;
                }
            }
        }
    }
    /* 右側 */
    .index-right {
        width: 30%;
        .sidebar {
            .sidebar-midashi {
                margin-bottom: 10px;
                color: $MidashiColor;
                font: {
                    size: 20px;
                    weight: bold;
                }
            }
            /* リンク */
            .sidebar-link-wrap {
                .sidebar-link {
                    padding: 10px 0;
                    text-align: center;
                    display: block;
                    width: 100%;
                    margin-top: 10px;
                    background-color: gray;
                    border-radius: 4px;
                    color: #ffffff;
                    font-weight: bold;
                    &:hover {
                        opacity: 0.7;
                    }
                    &:first-child {
                        margin-top: 0;
                    }
                }
                .sidebar-facebook {
                    background-color: $Facebook;
                }
                .sidebar-twitter {
                    background-color: $Twitter;
                }
                .sidebar-github {
                    background-color: $Github;
                }
            }
            /* 新着記事 */
            .newarticle-wrap {
                margin-top: 40px;
                .newarticle-list-parent {
                    li {
                        margin-top: 8px;
                        a {
                            &:hover {
                                color: $HoverTextColor;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}
/* フッター */
footer {
    background: {
        color: $MainColor;
    }
    /* コピーライト */
    .copy {
      text-align: center;
      font-size: 10px;
      padding: 10px 0;
      color: #ffffff;
    }
}


/* 記事ページ */
.article-main-wrap {
    .article-main {
        background-color: white;
        padding: {
            top: 40px;
            right: 5%;
            bottom: 30px;
            left: 5%;
        }
        .article-main-title {
            font: {
                size: 20px;
                weight: bold;
            }
            color: $MidashiColor;
            padding-left: 10px;
        }
        .article-main-sub {
            display: flex;
            justify-content: flex-end;
            padding: {
                bottom: 10px;
            }
            margin: {
                top: -10px;
                bottom: 30px;
            }
            border-bottom: 2px solid $MainColor;
            a {
                display: block;
                font: {
                    size: 12px;
                }
                &:hover {
                    text-decoration: underline;
                    color: $HoverTextColor;
                }
            }
            .article-main-category {

            }
            .article-main-date {
                margin-left: 10px;
            }
        }
        .article-main-content {
            p {
                line-height: 1.9;
                letter-spacing: 0.1em;
            }
        }
        .single-share {
            margin-top: 80px;
            margin-bottom: 10px;
            text-align: center;
            a {
                color: #ffffff;
                font: {
                    size: 12px;
                }
                padding: 10px 20px;
                border-radius: $BorderRadius;
                &:hover {
                    opacity: 0.7;
                }
            }
            .single-facebook {
                background-color: $Facebook;
            }
            .single-twitter {
                background-color: $Twitter;
            }
        }
    }
    .single-move {
        margin-top: 30px;
        text-align: center;
        a,
        a>i {
            color: $MainColor;
        }
        a {
            &:hover {
                color: $HoverTextColor;
                text-decoration: underline;
            }
            &:not(:first-child) {
                margin-left: 10px;
            }
            i {
                font: {
                    size: 22px;
                }
                &:hover {
                    text-decoration: underline;
                    color: $HoverTextColor;
                }
            }
        }
    }
}
.article-main-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: {
            top: 1em;
            bottom: 0.3em;
        }
    }
    h1,
    h2,
    h3,
    h4 {
        font-weight: bold;
    }
    h1,
    h2,
    h3 {
        color: $MainColor;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
        border-left: 8px solid $MainColor;
        padding-left: 10px;
        color: $MainColor;
    }
    h3 {
        font-size: 18px;
    }
    h4,
    h5,
    h6 {
        font-size: 16px;
    }
    ul,
    ol {
        li {
            margin-left: 2em;
        }
    }
    ul {
        li {
            list-style-type: disc;
        }
    }
    ol {
        li {
            list-style: decimal;
        }
    }
    a {
        text-decoration: underline;
        color: #3E606F;
        &:hover {
            color: #91AA9D;
        }
    }
}

/* ---------- タブレット表示 ---------- */
@media (max-width: $TabWidth) {
    /* ヘッダー */
    header {
        &::after {
        }
        h1 {
            top: calc(50% - 19px);
            left: calc(50% - #{$Inner_Width} / 2);
            a {
                font: {
                    size: 24px;
                }
            }
        }
    }
    /* メインコンテンツ */
    .index-main {
        display: block;
        /* 左側 */
        .index-left {
            width: 100%;
            /* 記事 */
            .index-article-wrap {
                .index-article {
                    width: 48%;
                    a {
                        &:hover {
                            opacity: 1;
                            transition: 0;
                        }
                        .index-article-img {
                        }
                        .index-article-title {
                            font: {
                                weight: normal;
                            }
                        }
                        .index-article-content {
                            p {

                            }
                        }
                        .index-article-category {
                        }
                        .index-article-date {
                        }
                    }
                }
            }
            /* ページネーション */
            .page-nav-wrap {
                justify-content: center;
            }
        }
        /* 右側 */
        .index-right {
            margin-top: 50px;
            width: 100%;
            .sidebar {
                display: flex;
                justify-content: space-between;
                .sidebar-midashi {
                    text-align: center;
                    margin-bottom: 20px;
                    font: {
                        size: 20px;
                        weight: normal;
                    }
                }
                /* リンク */
                .sidebar-link-wrap {
                    padding: {
                        top: 10px;
                        bottom: 10px;
                    }
                    width: 32%;
                    .sidebar-link {
                        width: 90%;
                        margin: {
                            left: auto;
                            right: auto;
                        }
                        font-weight: normal;
                        &:hover {
                            opacity: 1;
                        }
                        &:first-child {
                            margin-top: 0;
                        }
                    }
                    .sidebar-facebook {
                        background-color: $Facebook;
                    }
                    .sidebar-twitter {
                        background-color: $Twitter;
                    }
                    .sidebar-github {
                        background-color: $Github;
                    }
                }
                /* 新着記事 */
                .newarticle-wrap {
                    padding: {
                        top: 10px;
                        bottom: 10px;
                    }
                    width: 32%;
                    margin-top: 0;
                    border-left: 1px dotted $MainColor;
                    .newarticle-list-parent {
                        li {
                            text-align: center;
                            a {
                                &:hover {
                                    color: $Text-Color;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /* フッター */
    footer {
        /* コピーライト */
        .copy {
        }
    }
    /* 記事ページ */
    .article-main-wrap {
        .article-main {
            margin-bottom: 0px;
            .article-main-title {
                font: {
                    size: 24px;
                    weight: bold;
                }
                color: $MidashiColor;
            }
            .article-main-sub {
                a {
                    font: {
                        size: 14px;
                    }
                }
                .article-main-category {

                }
                .article-main-date {
                    margin-left: 20px;
                }
            }
            .article-main-content {
                p {
                    letter-spacing: 0.15em;
                }
            }
            .single-share {
                margin-top: 80px;
                margin-bottom: 20px;
                text-align: center;
                a {
                    font: {
                        size: 14px;
                    }
                    padding: 14px 20px;
                    &:hover {
                        opacity: 1;
                    }
                }
                .single-facebook {
                }
                .single-twitter {
                }
            }
        }
        .single-move {
            margin-top: 20px;
            text-align: center;
            a,
            a>i {
                color: $MainColor;
            }
            a {
                &:hover {
                    color: $HoverTextColor;
                    text-decoration: underline;
                }
                &:not(:first-child) {
                    margin-left: 10px;
                }
                i {
                    font: {
                        size: 22px;
                    }
                    &:hover {
                        text-decoration: underline;
                        color: $HoverTextColor;
                    }
                }
            }
        }
    }
    .article-main-content {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
        }
        h1,
        h2,
        h3,
        h4 {
        }
        h1,
        h2,
        h3 {
        }
        h1 {
        }
        h2 {
        }
        h3 {
        }
        h4,
        h5,
        h6 {
        }
        ul,
        ol {
            li {
            }
        }
        ul {
            li {
            }
        }
        ol {
            li {
            }
        }
        a {
            &:hover {
            }
        }
    }
}


/* ---------- SP表示 ---------- */
@media (max-width: $SpWidth) {
    /* ヘッダー */
    header {
        height: 50px;
        &::after {
            height: 50px;
        }
        h1 {
            top: calc(50% - 12px);
            a {
                font: {
                    size: 16px;
                }
            }
        }
    }
    /* メインコンテンツ */
    .index-main.singlepage {
        width: 100%;
    }
    .index-main {
        margin: {
            top: 40px;
            bottom: 40px;
        }
        /* 左側 */
        .index-left {
            /* 記事 */
            .index-article-wrap {
                .index-article {
                    margin-top: 20px;
                    width: 100%;
                    &:nth-of-type(1),
                    &:nth-of-type(2) {
                        margin-top: 20px;
                    }
                    &:nth-of-type(1) {
                        margin-top: 0;
                    }
                    a {
                        .index-article-img {
                        }
                        .index-article-title {
                            font-size: 18px;
                            padding-top: 20px;
                            font: {
                                size: 18px;
                            }
                        }
                        .index-article-content {
                            display: none;
                            p {

                            }
                        }
                        .index-article-category {
                            padding-top: 0;
                        }
                        .index-article-date {
                            padding-top: 6px;
                        }
                    }
                }
            }
            /* ページネーション */
            .page-nav-wrap {
                margin-top: 30px;
                border: none;
            }
        }
        /* 右側 */
        .index-right {
            margin-top: 50px;
            width: 100%;
            .sidebar {
                display: block;
                .sidebar-midashi {
                    margin-bottom: 10px;
                    font-weight: bold;
                    padding-top: 0;
                }
                /* リンク */
                .sidebar-link-wrap {
                    width: 100%;
                    margin: 0 auto;
                    .sidebar-link {
                        width: 100%;
                        &:first-child {
                            margin-top: 0;
                        }
                    }
                    .sidebar-facebook {
                    }
                    .sidebar-twitter {
                    }
                    .sidebar-github {
                    }
                }
                /* 新着記事 */
                .newarticle-wrap {
                    width: 100%;
                    margin-top: 30px;
                    border-left: none;
                    .newarticle-list-parent {
                        li {
                            a {
                            }
                        }
                    }
                }
            }
        }
    }
    .singlepage .index-right .sidebar .sidebar-link-wrap {
        width: 100%;
        .sidebar-link {
            width: 90%;
        }
    }
    /* フッター */
    footer {
        /* コピーライト */
        .copy {
        }
    }
    /* 記事ページ */
    .article-main-wrap {
        .article-main {
            padding: {
                top: 20px;
                bottom: 20px;
            }
            margin-bottom: 0;
            .article-main-title {
                font: {
                    size: 20px;
                    weight: bold;
                }
                color: $MidashiColor;
            }
            .article-main-sub {
                margin-top: 10px;
                a {
                    font: {
                        size: 12px;
                    }
                }
                .article-main-category {

                }
                .article-main-date {
                    margin-left: 20px;
                }
            }
            .article-main-content {
                p {
                    letter-spacing: 0.05em;
                }
            }
            .single-share {
                margin-top: 70px;
                margin-bottom: 20px;
                text-align: center;
                a {
                    display: block;
                    padding: 14px 0;
                    font: {
                        size: 14px;
                    }
                    margin-top: 10px;
                    &:hover {
                    }
                }
                .single-facebook {
                }
                .single-twitter {
                }
            }
        }
    }
    .article-main-content {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
        }
        h1,
        h2,
        h3,
        h4 {
        }
        h1,
        h2,
        h3 {
        }
        h1 {
        }
        h2 {
            font-size: 18px;
        }
        h3 {
        }
        h4,
        h5,
        h6 {
        }
        ul,
        ol {
            li {
            }
        }
        ul {
            li {
            }
        }
        ol {
            li {
            }
        }
        a {
            &:hover {
            }
        }
    }
}
